<div class="footer">
    <div class="container text-center">
        <p><a href="http://alloyteam.github.io/Spirit/MIT-LICENSE.txt">开源协议</a> | <a target="_blank" href="https://github.com/AlloyTeam/Spirit/issues/new">反馈意见</a></p>
        <p>© 2011-2014 <a target="_blank" href="http://www.alloyteam.com/">Tencent Alloyteam</a>. All Rights Reserved. Powered by <a target="_blank" href="http://zespia.tw/hexo/">Hexo</a></p>
    </div>
</div>