<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Spirit/" class="navbar-brand">Spirit</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="/Spirit/modules/Standard/index.html">移动Web开发规范</a></li>
            <li class="dropdown">
              <a id="drop" role="button" class="dropdown-toggle" data-toggle="dropdown">JM<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Spirit/modules/JM/index.html">组件</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/AlloyTeam/JM/archive/master.zip">下载</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="https://github.com/AlloyTeam/JM">View on Github</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a id="drop" role="button" class="dropdown-toggle" data-toggle="dropdown">JMUI<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Spirit/modules/JMUI/index.html">简介</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Spirit/modules/JMUI/demo.html">组件</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/AlloyTeam/JMUI/archive/master.zip">下载</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="https://github.com/AlloyTeam/JMUI">View on Github</a></li>
              </ul>
            </li>
             <li class="dropdown">
              <a id="drop" role="button" class="dropdown-toggle" data-toggle="dropdown">Pro<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Spirit/modules/Pro/index.html">简介</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Spirit/modules/Pro/demo.html">组件</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/AlloyTeam/Pro/archive/master.zip">下载</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="https://github.com/AlloyTeam/Pro">View on Github</a></li>
              </ul>
            </li>
            <li><a href="/Spirit/modules/Mobug/index.html">Mobug</a></li>
            <li><a href="/Spirit/modules/Mars/index.html">Mars</a></li>
            <li>
              <a href="/Spirit/mobile_industry_report_2013.html">2013移动互联网行业报告 <sup><span class="label label-success label-lg">new</span></sup></a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li><a data-toggle="modal" data-target="#myModal" href="javascript:;">关于Spirit</a></li>
              <li><a target="_blank" href="http://www.alloyteam.com/about/">关于我们</a></li>
          </ul>
        </nav>
    </div>
</header>