<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">关于Spirit</h4>
      </div>
      <div class="modal-body">
        <p>Spirit（勇气号），美国航天局NASA派往Mars（火星）的第一艘探测器。</p>
        <p>移动Web开发是一块新的领域，甚至有很多坑，这一点与人类从未踏上的Mars（火星）相似。为了避免开发者重复遇到相同的问题，我们创建了Mars项目（<a target="_blank" href="https://github.com/AlloyTeam/Mars">view on Github</a>），收集与归纳移动Web开发中常见的问题。</p>
        <p>Spirit正是为了Mars而生，Mars项目中归纳的问题，会放到Spirit中解决，并沉淀到开发工具（JM与JMUI）以及开发规范中，真正建立移动Web开发的集成解决方案。</p>
        <p>如果你也在移动Web遇到了问题，请到<a target="_blank" href="https://github.com/AlloyTeam/Mars">Mars项目</a>提交Issue。<span class="glyphicon glyphicon-heart-empty"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->