body {
    background:url(../img/sand_white_bg.jpg) repeat;
    -webkit-user-select: initial;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family : "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei",sans-serif;
}

@media (min-width: 768px) {
    body {
        margin-top: 50px;
    }
}
h2[id] {
	padding-top: 10px;
}
p{
    line-height: 2;
    margin-bottom: 5px;
}
blockquote p{
    line-height: 1.5;
}
blockquote{
    border-left: 5px solid #3B749B!important;
}
.label {
    padding: .1em .3em .1em;
}
section.container{
    border-bottom: 1px solid #D5D5D5;
    margin: 40px auto;
}
section.container:last-child{
    border-bottom: none;
}

/* 头部导航下拉hover开始 */
.sidebar-nav {
    padding: 9px 0;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
/* 头部导航下拉hover结束 */

/* 侧边菜单开始 */
.my_sidebar.affix {
    position: static;
}
@media (min-width: 992px){
    .my_sidebar.affix {
        position: fixed;
    }
}
@media (min-width: 992px){
    .my_sidebar .nav > .active > ul {
        display: block;
    }
    .my_sidebar.affix, .my_sidebar.affix-bottom {
        width: 205px;
    }
}
@media (min-width: 1200px){
    .my_sidebar.affix-bottom, .my_sidebar.affix {
        width: 255px;
    }
}
.my_sidebar {
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
}
.my_sidebar .nav > .active > a, .my_sidebar .nav > .active:hover > a, .my_sidebar .nav > .active:focus > a{
    font-weight: bold;
    color: #428bca;
    background-color: transparent;
    border-right: 1px solid #428bca;
}
.my_sidebar .nav .nav {
    display: none;
    margin-bottom: 8px;
}
.my_sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.my_sidebar .nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}
/* 侧边菜单结束 */


.demo_block{
    width: 100%;
    padding: 20px 100px;
    background: white;
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}