.jumbotron {
    height: 540px;
    background-image: url(../img/planet_mars.jpg);
    box-shadow: #000 0 0 20px;
}
#desc {
    font-size: 16px;
    width: 300px;
}

.intro-part div {
    width: 80%;
    margin: 0 auto 20px;
    padding: 10px 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post-btn {
    margin-top: 6px;
}