html, body, ul, ol, img, p, input, button {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

a, button,
input, input:focus,
select, select:focus,
textarea, textarea:focus {
    outline: none;  /* removes webkit border when the element is on focus */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
    color: #0079ff;

    text-decoration: none;
}

ol, ul  {
    list-style: none;
}

.ui-clear-fix:after{
    display: block;
    content: "";

    visibility: hidden;

    clear: both;
}

/* 1px边框，通过after元素实现，写上这个class，然后在after里写需要的边框 */
.ui-border-1px{
    position: relative;
}
.ui-border-1px:after{
    display: block;
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1);

    pointer-events: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-border-1px:after{
        content: "";

        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: -100%;
        bottom: -100%;

        -webkit-transform-origin: 0 0;
        -webkit-transform: scale(0.5);

        pointer-events: none;
    }
}
/* ratio为2的机子有可能是低端机 */
.poor-device .ui-border-1px:after{
    right: 0;
    bottom: 0;

    -webkit-transform: scale(1);
}

/* 单行文字省略显示，例：xxx...*/
.ui-no-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 
    多行文字省略显示
    例：
        xxxxxx
        xxx...
    -webkit-line-clamp的值用来控制行数，默认为2
*/
.ui-multi-no-wrap {
    display: -webkit-box;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    
    -webkit-line-clamp: 2;  
}

/* 字体颜色 */
.ui-color-black{
    color: black;
}
.ui-color-white{
    color: white;
}
.ui-color-gray{
    color: #808080;
}
.ui-color-blue{
    color: #0079ff;
}
.ui-color-red{
    color: #fd472b;
}
.ui-color-orange{
    color: #ff6d00;
}



