.ui-form-wrapper{
    margin-top: 15px;
}
.ui-form-wrapper .title{
    padding: 10px 10px 0;

    background: #fff;
    color: #808080;

    font-size: 13px;
}
.ui-form{
    background: #fff;

    overflow: hidden;
}
.ui-form:after{
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.ui-form .item{
    display: -webkit-box;

    padding: 10px;
    min-height: 25px;

    -webkit-box-align: center;
}
.ui-form .item:after {
    margin-left: 10px;
    
    border-top: 1px solid #eaeaea;
}
.ui-form .item:first-child:after{
    border-top-width: 0;
}
.ui-form .item .content{
    margin-left: 15px;

    text-align: right;

    -webkit-box-flex: 1;
}