body {
    -webkit-user-select: initial;
}
.page_content ul{
    margin-left: 20px;
}

.demo_block {
    height: 300px;
}
.demo_block .rect{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px 2px #999;
    background: #4D51C0;
    left: 10px;
    top: 50px;
    position: absolute;
}

.param_list .param, .event_list{
    color: #4B8110;
}
.function_list .funcName, .function_list li{
    color: #2487AD;
}
.function_list .desc,.event_list .desc{
    color: black;
}
