.swipeChange{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x:hidden;
}
.swipeChange > .wrap{
	height: 100%;
}
.swipeChange > .wrap > li{
	float: left;
	height: 100%;
	outline: 1px solid white;
	border-radius: 5px;
	overflow-x:hidden;
}
.swipeChange > .wrap > li > div{
	height: 100%;
}